In [1]:
import pandas as pd

In [2]:
imdb_tmdb = pd.read_csv('../data/imdb_tmdb.csv')

In [3]:
relevant_titles = set(imdb_tmdb['tconst'].values)

In [4]:
name_basics = pd.read_csv('name_basics.tsv', delimiter='\t')

In [5]:
def filter_relevant_titles(x):
    known_for_titles = set(x.split(','))
    intersection = known_for_titles.intersection(relevant_titles)
    return known_for_titles.intersection(relevant_titles)

In [6]:
name_basics['knownForTitles'] = name_basics['knownForTitles'].apply(filter_relevant_titles)

In [14]:
name_basics

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous",{tt0072308}
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack",{}
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer",{}
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","{tt0080455, tt0078723}"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor",{}
...,...,...,...,...,...,...
9671572,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department",{}
9671573,nm9993716,Essias Loberg,\N,\N,NaN,{}
9671574,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,{}
9671575,nm9993718,Aayush Nair,\N,\N,cinematographer,{}
9671576,nm9993719,Andre Hill,\N,\N,NaN,{}

In [8]:
relevant_name_basics = name_basics[name_basics['knownForTitles'] != set()]

In [10]:
def convert_to_str(x):
    return str(x)[1:-1].replace("'", '')

In [12]:
relevant_name_basics['knownForTitles'] = relevant_name_basics['knownForTitles'].apply(convert_to_str)

/home/trb116/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
relevant_name_basics

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous",tt0072308
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0080455, tt0078723"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,soundtrack,producer","tt0038109, tt0038787"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,soundtrack,producer","tt0033870, tt0034583"
7,nm0000008,Marlon Brando,1924,2004,"actor,soundtrack,director","tt0068646, tt0044081, tt0078788"
...,...,...,...,...,...,...
9671467,nm9993605,Kirk 'Ish' Ishitani,\N,\N,producer,tt0859635
9671468,nm9993606,Big John Love,\N,\N,producer,tt0859635
9671469,nm9993607,Joel Seligstein,\N,\N,producer,tt0859635
9671470,nm9993608,Noah Shah,\N,\N,producer,tt0859635
9671480,nm9993619,Sean McManus,\N,\N,"miscellaneous,location_management","tt6644200, tt2199571"

In [15]:
relevant_name_basics.to_csv('../data/relevant_name_basics.csv')